langchain
langchain-community
langchain-classic
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
python-dotenv
pypdf
pymupdf
tiktoken
numpy
pandas
faiss-cpu
pinecone
typesense
beautifulsoup4
lxml
matplotlib
seaborn
scikit-learn
huggingface-hub